doctype html
html(lang='en')
    head
        // Required meta tags always come first
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title Notifications Center
        // Font Awesome
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
        // Bootstrap core CSS
        link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
        link(href='stylesheets/custom.css', rel='stylesheet')
        // Material Design Bootstrap
        link(href='stylesheets/mdb.min.css', rel='stylesheet')
        link(rel="stylesheet", type="text/css", href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css")
        link(rel='stylesheet', href='https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/themes/ui-lightness/jquery-ui.css', type='text/css', media='all')
        link(rel='stylesheet', href='stylesheets/bootstrap-tokenfield.min.css')
        link(rel='stylesheet', href='stylesheets/tokenfield-typeahead.min.css')
        link(rel='icon', type='image/png', href='images/ico.png')
    body.hidden-sn.cyan-skin
        // Double navigation
        header
            // Sidebar navigation
            #slide-out.side-nav.sn-bg-4.mdb-sidenav
                ul.custom-scrollbar.list-unstyled(style='max-height:100vh;')
                    // Logo
                    li
                        .logo-wrapper.waves-light
                            a(href='/home')
                                img.img-fluid.flex-center(src='/images/#{logo_org}')
                    // /. Logo
                    // Social
                    li
                        ul.social
                            h5 Notifications Center
                            // TO DO: se non serve elimina
                            //li
                            //    a.icons-sm.fb-ic(href='#')
                            //        i.fa.fa-facebook
                            //li
                            //    a.icons-sm.pin-ic(href='#')
                            //        i.fa.fa-pinterest
                            //li
                            //    a.icons-sm.gplus-ic(href='#')
                            //        i.fa.fa-google-plus
                            //li
                            //    a.icons-sm.tw-ic(href='#')
                            //        i.fa.fa-twitter
                    // /Social
                    // Side navigation links
                    li
                        ul.collapsible.collapsible-accordion
                            li
                                a.collapsible-header.waves-effect.arrow-ra(href='/home')
                                    i.fa.fa-home
                                    |  Home
                                // Esempio aggiunta voci sottomenu
                                //    i.fa.fa-angle-down.rotate-icon
                                //.collapsible-body
                                //    ul
                                //        li
                                //            a(href='/home') Notifications Center
                                //        li
                                //            a(href='/gestioneInteressi') Interessi
                            li
                                a.collapsible-header.waves-effect.arrow-ra(href='/gestioneInteressi')
                                    i.fa.fa-universal-access
                                    |  Interessi
                            li
                                a.collapsible-header.waves-effect.arrow-ra(href='/gestioneContatto')
                                    i.fa.fa-user
                                    |  Anagrafica
                            li
                                a.collapsible-header.waves-effect.arrow-r
                                    i.fa.fa-calendar-o
                                    |  Eventi
                                    i.fa.fa-angle-down.rotate-icon
                                .collapsible-body
                                    ul
                                        li
                                            a.waves-effect(href='/gestioneEventi') Gestione Eventi
                                        li
                                            a.waves-effect(href='/gestioneNote') Gestione Note
                            li
                                a.collapsible-header.waves-effect.arrow-ra(href='/assegnaEvento')
                                    i.fa.fa-bell
                                    |  Invio Notifiche
                            li
                                a.collapsible-header.waves-effect.arrow-ra(href='/gestioneNotifiche')
                                    i.fa.fa-file-excel-o
                                    |  Gestione Report
                            li
                                a.collapsible-header.waves-effect.arrow-ra(href='/logout')
                                    i.fa.fa-sign-out
                                    |  Logout
                .sidenav-bg.mask-strong
            // /. Sidebar navigation
            // Navbar
            nav.navbar.fixed-top.navbar-toggleable-md.navbar-expand-lg.scrolling-navbar.double-nav
                // SideNav slide-out button
                .float-left
                    a.button-collapse(href='#', data-activates='slide-out')
                        i.fa.fa-bars
                // Breadcrumb
                .breadcrumb-dn.mr-auto
                    p Material Design for Bootstrap
                ul.nav.navbar-nav.nav-flex-icons.ml-auto
                    // TO DO: Eliminare se non serve
                    //li.nav-item
                    //    a.nav-link
                    //        i.fa.fa-envelope
                    //        span.clearfix.d-none.d-sm-inline-block Contact
                    //li.nav-item
                    //    a.nav-link
                    //        i.fa.fa-comments-o
                    //        span.clearfix.d-none.d-sm-inline-block Support
                    //li.nav-item
                    //    a.nav-link
                    //        i.fa.fa-user
                    //        span.clearfix.d-none.d-sm-inline-block Account
                    li.nav-item.dropdown
                        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Dropdown
                        .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                            a.dropdown-item(href='/home') Home
                            a.dropdown-item(href='/gestioneInteressi') Interessi
                            a.dropdown-item(href='/gestioneContatto') Anagrafica
                            a.dropdown-item(href='/gestioneEventi') Gestione Eventi
                            a.dropdown-item(href='/gestioneNote') Gestione Note
                            a.dropdown-item(href='/assegnaEvento') Invio Notifiche
                            a.dropdown-item(href='/gestioneNotifiche') Gestione Report
                            a.dropdown-item(href='/logout') Logout
            // /.Navbar
            // /.Double navigation
            // Main Layout
            // TO DO VA gestita la progress bar se sefrve
            //.progress.md-progress(style='height: 20px')
            //    .progress-bar(role='progressbar', style='width: 25%; height: 20px', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')

            main

                // Central Modal Medium Info
                #myModal.modal.fade.left(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                    .modal-dialog(role='document')
                        // Content
                        .modal-content
                            // Header
                            .modal-header
                                p.heading.lead Informazioni
                                button.close(type='button', data-dismiss='modal', aria-label='Chiudi')
                                    span.white-text(aria-hidden='true') ×
                            // Body
                            .modal-body
                                h1 Utente già notificato!
                            // Footer
                            .modal-footer.justify-content-center
                // Central Modal Medium Info

                #myModal1.modal.fade
                    .modal-dialog
                        .modal-content
                            // dialog body
                            .modal-header
                                p.heading.lead Informazioni
                                button.close(type='button', data-dismiss='modal') ×
                                    span.white-text(aria-hidden='true') ×
                                        // Body
                            .modal-body
                                .text-center
                                    h4 Invio notifiche completato!
                                        // Footer
                            .modal-footer.justify-content-center
                                a.btn.btn-primary(type='button', data-dismiss='modal')
                                    | Ok
                #myModal3.modal.fade.left(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                    .modal-dialog(role='document')
                        // Content
                        .modal-content
                            // Header
                            .modal-header
                                p.heading.lead Informazioni
                                button.close(type='button', data-dismiss='modal', aria-label='Chiudi')
                                    span.white-text(aria-hidden='true') ×
                            // Body
                            .modal-body
                                .text-center
                                h4 Devi selezionare almeno un evento, un utente e una modalità di invio!
                            // Footer
                            .modal-footer.justify-content-center
                                a.btn.btn-primary(type='button', data-dismiss='modal')
                                    | Ok
                .container-fluid.mt-5
                    .jumbotron
                        h1.h1-reponsive.mb-3.blue-text
                            strong Gestione Invio Notifiche
                        p.lead
                            | Invia la tua nota o invita ad un evento un tuo contatto.
                        hr.my-4
                        p
                            | Scelgi tra tre differenti modalità d'ingaggio: SMS, E-Mail, Push.

                    .row
                        .col-sm-4
                            h3.h3-reponsive.mb-3.blue-text
                                strong Scegli un'opzione :
                    .row
                        .col-3
                            h4 Invia Evento
                            label.bs-switch(for='invioEvento')
                                input#invioEvento(name='someSwitchOption001', type='checkbox', autocomplete='off' onchange='switchTable1();')
                                span.slider.round
                        .col-3
                            h4 Invia Nota Informativa
                            label.bs-switch(for='invioNotainformativa')
                                input#invioNotainformativa(name='someSwitchOption001', type='checkbox', autocomplete='off' onchange='switchTable1();')
                                span.slider.round
                    br
                    hr
                    .row#hideInfo
                        .col-sm-12
                            .alert.alert-danger
                                strong Info!
                                |  Selezionare solo un'opzione.

                .container-fluid.mx-3#conteinerHideModalita
                    .row
                        .col-sm-4
                            h3 Seleziona modalità di comunicazione
                        .col-sm-2
                        .col-sm-4
                            h3 Seleziona modalità d'interesse
                    .row
                        .col-sm-2
                            h4 Push Notifications
                            label.bs-switch(for='invioPush')
                                input#invioPush(name='someSwitchOption001', type='checkbox', checked=true, onchange='switchTable();')
                                span.slider.round
                        .col-sm-2
                            h4 E-mail
                            label.bs-switch(for='invioEmail')
                                input#invioEmail(name='someSwitchOption001', type='checkbox', checked=true, onchange='switchTable();')
                                span.slider.round
                        .col-sm-2
                            h4 SMS
                            label.bs-switch(for='invioSms')
                                input#invioSms(name='someSwitchOption001', type='checkbox', checked=true, onchange='switchTable();')
                                span.slider.round
                        .col-md-6
                            label.cols-sm-2.control-label(for='interessi') Interessi
                            .cols-sm-10
                                .input-group.mb-3
                                    .input-group-prepend
                                        span#basic-addon1.input-group-addon
                                            i.fa.fa-hashtag(aria-hidden='true')
                                    input#interessi.form-control(type='text', placeholder='Interessi', aria-describedby='basic-addon1', name='interessi', onchange='switchTable();')
                br

                .container-fluid#conteinerHideData
                    .row
                        .md-form.col-md-6
                            i.fa.fa-calendar.prefix(aria-hidden='true')
                            label.cols-sm-2.control-label(for='dataEvento') Dal giorno:
                            input#dataEvento.form-control(type='text', name="dataEvento", readonly="readonly", placeholder='GG/MM/AAAA')
                .container-fluid#titoloSeleziona
                    .row
                        .col-sm-6
                            h3 Seleziona L'evento
                        .col-sm-6
                            h3 Seleziona i contatti
                .container-fluid#conteinerHideEvento
                    .row.mx-2
                        .col-sm-6.table-responsive
                            table#tabellaEventi.table.table-striped.table-bordered(width='100%', cellspacing='0')
                                thead
                                    tr
                                        th
                                        th Titolo Evento
                                        th Sottotitolo Evento
                                        th Luogo
                                        th Data Inizio
                                        th Data Fine
                                        th Relatori
                                tfoot
                                    tr
                                        th
                                        th Titolo Evento
                                        th Sottotitolo Evento
                                        th Luogo
                                        th Data Inizio
                                        th Data Fine
                                        th Relatori

                        .col-sm-6.table-responsive
                            table#tabellaUtenti.table.table-striped.table-bordered(width='100%', cellspacing='0')
                                thead
                                    tr
                                        th id
                                        th Username
                                        th Cognome
                                        th Nome
                                        th Professione
                                        th Residenza
                br

                .container-fluid#divButton
                    .row.d-flex.flex-row-reverse
                        .col-sm-2.pull-right
                            button#SalvaDati.btn.btn-primary.btn-lg.pull-right.btn-block(onclick='salvaDati();') Invia
                        .col-sm-2.pull-right
                            button#SelezionaTutti.btn.btn-primary.btn-lg.pull-right.btn-block(onclick='selezionaTutti();') Seleziona Tutti
                        .col-sm-2.pull-right
                            button#DeselezionaTutti.btn.btn-primary.btn-lg.pull-right.btn-block(onclick='deselezionaTutti();') Deseleziona Tutti

                br
                br
                br

            // Footer
            footer.page-footer.font-small.mdb-skin.fixed-bottom
                // Copyright
                .footer-copyright.text-center.py-3
                    | © Copyright 2018 - AK-12. All Rights Reserved:
                    a(target='_blank', href='http://www.ak12srl.it/')
                        // TO DO: inserire immagine con scritta bianca
                        //img(src='images/ak12.png', alt='Company Logo', width='70', height='30')
                // Copyright
            // Footer
            // Main Layout
            // SCRIPTS
            // JQuery
            script(type='text/javascript', src='javascripts/jquery-3.3.1.min.js')
            // Popper
            script(type='text/javascript', src='javascripts/popper.min.js')
            // Bootstrap core JavaScript
            script(src='javascripts/bootstrap.min.js')
            // MDB core JavaScript
            script(type='text/javascript', src='javascripts/mdb.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js')
            script(src='https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/js/bootstrap-datetimepicker.min.js')
            script(src='javascripts/modernizr.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js')
            script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
            script(src='https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js')
            script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
            script(src='https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js', type='text/javascript')
            script(src="javascripts/bootstrap-tokenfield.min.js")
            script(src="javascripts/dataTables.buttons.min.js")
            script(src="javascripts/dataTables.select.min.js")
            // TO DO: Credo non serva a nulla
            script(src="javascripts/controllers/assegnaEventoController.js")
            script.
                // SideNav Initialization
                $(".button-collapse").sideNav();