doctype html
html(lang='en')
    head
        // Required meta tags always come first
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title Notifications Center
        // Font Awesome
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
        // Bootstrap core CSS
        link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
        // Controlli per espandere in sub menu le righe della datatable
        //link(href='stylesheets/custom.css', rel='stylesheet')
        // Material Design Bootstrap
        link(href='stylesheets/mdb.min.css', rel='stylesheet')
        // JQuery Ui per datepicker
        link(rel='stylesheet', href='https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/themes/ui-lightness/jquery-ui.css', type='text/css')
        // Jquery pe radtatable
        link(href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css', rel='stylesheet', media='screen')
        // Serve per la datatable
        //link(href='https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css', rel='stylesheet', media='screen')
        link(rel='stylesheet', href='stylesheets/buttons.bootstrap.min.css')
        link(rel='icon', type='image/png', href='images/ico.png')

    body.hidden-sn.mdb-skin
        // Double navigation
        header
            // Sidebar navigation
            #slide-out.side-nav.sn-bg-4.mdb-sidenav
                ul.custom-scrollbar.list-unstyled(style='max-height:100vh;')
                    // Logo
                    li
                        .logo-wrapper.waves-light
                            a(href='/home')
                                img.img-fluid.flex-center(src='/images/#{logo_org}')
                    // /. Logo
                    // Social
                    li
                        ul.social
                            h5 Notifications Center
                            // TO DO: se non serve elimina
                            //li
                            //    a.icons-sm.fb-ic(href='#')
                            //        i.fa.fa-facebook
                            //li
                            //    a.icons-sm.pin-ic(href='#')
                            //        i.fa.fa-pinterest
                            //li
                            //    a.icons-sm.gplus-ic(href='#')
                            //        i.fa.fa-google-plus
                            //li
                            //    a.icons-sm.tw-ic(href='#')
                            //        i.fa.fa-twitter
                    // /Social
                    // Side navigation links
                    li
                        ul.collapsible.collapsible-accordion
                            li
                                a.collapsible-header.waves-effect.arrow-ra(href='/home')
                                    i.fa.fa-home
                                    |  Home
                                // Esempio aggiunta voci sottomenu
                                //    i.fa.fa-angle-down.rotate-icon
                                //.collapsible-body
                                //    ul
                                //        li
                                //            a(href='/home') Notifications Center
                                //        li
                                //            a(href='/gestioneInteressi') Interessi
                            li
                                a.collapsible-header.waves-effect.arrow-ra(href='/gestioneInteressi')
                                    i.fa.fa-universal-access
                                    |  Interessi
                            li
                                a.collapsible-header.waves-effect.arrow-ra(href='/gestioneContatto')
                                    i.fa.fa-user
                                    |  Anagrafica
                            li
                                a.collapsible-header.waves-effect.arrow-r
                                    i.fa.fa-calendar-o
                                    |  Eventi
                                    i.fa.fa-angle-down.rotate-icon
                                .collapsible-body
                                    ul
                                        li
                                            a.waves-effect(href='/gestioneEventi') Gestione Eventi
                                        li
                                            a.waves-effect(href='/gestioneNote') Gestione Note
                            li
                                a.collapsible-header.waves-effect.arrow-ra(href='/assegnaEvento')
                                    i.fa.fa-bell
                                    |  Invio Notifiche
                            li
                                a.collapsible-header.waves-effect.arrow-ra(href='/gestioneNotifiche')
                                    i.fa.fa-file-excel-o
                                    |  Gestione Report
                            li
                                a.collapsible-header.waves-effect.arrow-ra(href='/logout')
                                    i.fa.fa-sign-out
                                    |  Logout
                .sidenav-bg.mask-strong
            // /. Sidebar navigation
            // Navbar
            nav.navbar.fixed-top.navbar-toggleable-md.navbar-expand-lg.scrolling-navbar.double-nav
                // SideNav slide-out button
                .float-left
                    a.button-collapse(href='#', data-activates='slide-out')
                        i.fa.fa-bars
                // Breadcrumb
                .breadcrumb-dn.mr-auto
                    p #{name}
                ul.nav.navbar-nav.nav-flex-icons.ml-auto
                    // TO DO: Eliminare se non serve
                    //li.nav-item
                    //    a.nav-link
                    //        i.fa.fa-envelope
                    //        span.clearfix.d-none.d-sm-inline-block Contact
                    //li.nav-item
                    //    a.nav-link
                    //        i.fa.fa-comments-o
                    //        span.clearfix.d-none.d-sm-inline-block Support
                    //li.nav-item
                    //    a.nav-link
                    //        i.fa.fa-user
                    //        span.clearfix.d-none.d-sm-inline-block Account
                    li.nav-item.dropdown
                        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Menu Rapido
                        .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                            a.dropdown-item(href='/home') Home
                            a.dropdown-item(href='/gestioneInteressi') Interessi
                            a.dropdown-item(href='/gestioneContatto') Anagrafica
                            a.dropdown-item(href='/gestioneEventi') Gestione Eventi
                            a.dropdown-item(href='/gestioneNote') Gestione Note
                            a.dropdown-item(href='/assegnaEvento') Invio Notifiche
                            a.dropdown-item(href='/gestioneNotifiche') Gestione Report
                            a.dropdown-item(href='/logout') Logout
            // /.Navbar
            // /.Double navigation
            // Main Layout
            // TO DO VA gestita la progress bar se sefrve
            //.progress.md-progress(style='height: 20px')
            //    .progress-bar(role='progressbar', style='width: 25%; height: 20px', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')

            main
                .container-fluid.mt-5
                    .jumbotron
                        h1.h1-reponsive.mb-3.blue-text
                            strong Gestione Report
                        p.lead
                            | Crea i report personalizzati per analizzare lo stato delle notifiche che hai inviato.
                        hr.my-4
                        p
                            | Esporta i risultati nei formati PDF, Excel.

                .row.mx-3
                    .col-sm-4
                        h3 Scegli un'opzione :
                .row.mx-3
                    .col-sm-2
                        h4 Evento
                        label.bs-switch(for='invioEvento')
                            input#invioEvento(name='someSwitchOption001', type='checkbox', checked=false, onchange='switchTable();')
                            span.slider.round

                    .col-sm-2
                        h4 Nota Informativa
                        label.bs-switch(for='invioNotainformativa')
                            input#invioNotainformativa(name='someSwitchOption001', type='checkbox', checked=false, onchange='switchTable();')
                            span.slider.round
                br
                .row.mx-3#hideInfo
                    .col-sm-12
                        .alert.alert-danger
                            strong Info!
                            |  Selezionare solo un'opzione.

                .container-fluid#nascondiDataInvio
                    .row
                        .md-form.col-md-6
                            i.fa.fa-calendar.prefix(aria-hidden='true')
                            label.cols-sm-2.control-label(for='filtroDataInvio') Filtra eventi/note a partire dal giorno:
                            input#filtroDataInvio.form-control(type='text', name="filtroDataInvio", readonly="readonly", placeholder='GG/MM/AAAA')

                // TO DO: modificare picker
                //.row.mx-5
                //    .md-form.col-md-6
                //        input#date-picker-example.form-control.datepicker(placeholder='Selected date', type='text')
                //        label(for='date-picker-example') Try me...

                .row.mx-2
                    .col-sm-12
                        table#tabellaNotifiche.table.table-striped.table-bordered(width='100%', cellspacing='0', style=" z-index: 1; position: relative;")
                            thead
                                tr
                                    th Id
                                    th Username
                                    th Cognome
                                    th Nome
                                    th Professione
                                    th Titolo Evento
                                    th Data Invio
                                    th Tipo
                                    th Stato
                                    th Confermato
                                    th Eliminato
                                tr
                                    th
                                    th
                                    th
                                    th
                                    th Professione
                                    th Titolo Evento
                                    th#searchBar Data Invio
                                    th Tipo
                                    th Stato
                                    th Confermato
                                    th Eliminato
                            tfoot
                                tr
                                    th
                                    th
                                    th
                                    th
                                    th
                                    th
                                    th
                                    th
                                    th
                                    th
                                    th
                .container-fluid#conteinerHideEvento
                    .row
                        .col-sm-2
                            h3 Esporta Report:
                .container-fluid
                    .row.mx-5
                        .col-sm-2
                            button#exportExcel.btn.btn-primary.btn-block(onclick='exportExcel();') Excel
                        .col-sm-2
                            button#exportPdf.btn.btn-primary.btn-block(onclick='exportPdf();') PDF
                        .col-sm-2
                            button#exportStampa.btn.btn-primary.btn-block(onclick='exportStampa();') Stampa

                br
                br
                br
            // Footer
            footer.page-footer.font-small.mdb-skin.fixed-bottom
                // Copyright
                .footer-copyright.text-center.py-3
                    | © Copyright 2018 - AK-12. All Rights Reserved:
                    a(target='_blank', href='http://www.ak12srl.it/')
                        // TO DO: inserire immagine con scritta bianca
                        //img(src='images/ak12.png', alt='Company Logo', width='70', height='30')
                // Copyright
            // Footer
            // Main Layout
            // SCRIPTS
            // JQuery
            script(type='text/javascript', src='javascripts/jquery-3.3.1.min.js')
            // Popper
            script(type='text/javascript', src='javascripts/popper.min.js')
            // Bootstrap core JavaScript
            script(src='javascripts/bootstrap.min.js')
            // MDB core JavaScript
            script(type='text/javascript', src='javascripts/mdb.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js')
            script(src='https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/js/bootstrap-datetimepicker.min.js')
            script(src='javascripts/modernizr.js')
            script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
            script(src='https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js', type='text/javascript')
            script(src="javascripts/bootstrap-tokenfield.min.js")
            script(src='javascripts/dataTables.buttons.min.js')
            script(src="javascripts/dataTables.select.min.js")
            script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.38/pdfmake.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.38/pdfmake.js.map')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.38/pdfmake.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.38/pdfmake.min.js.map')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.38/vfs_fonts.js')
            script(src='javascripts/buttons.print.min.js')
            script(src='javascripts/buttons.flash.min.js')
            script(src='javascripts/jszip.min.js')
            script(src='javascripts/vfs_fonts.js')
            script(src='javascripts/buttons.html5.min.js')
            script(src="javascripts/controllers/gestioneNotificheController.js")
            script.
                // SideNav Initialization
                $(".button-collapse").sideNav();
                // TO DO: Cambiare i piucker con questi nuovi
                //$('#date-picker-example').pickadate({
                //    format:"dd/mm/yyyy",
                //    onSet: function (dateText) {
                //        console.log(JSON.stringify(dateText) + ' nuovo' + $('#date-picker-example').val());
                //    }
                //});
