doctype html
html(lang='en')
    head
        // Required meta tags always come first
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title Notifications Center
        // Font Awesome
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
        // Bootstrap core CSS
        link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
        // Material Design Bootstrap
        link(href='stylesheets/mdb.min.css', rel='stylesheet')
        link(href='stylesheets/custom.css', rel='stylesheet')
        link(rel='icon', type='image/png', href='images/ico.png')
    body.hidden-sn.mdb-skin
        // Double navigation
        header
            // Sidebar navigation
            #slide-out.side-nav.sn-bg-4.mdb-sidenav
                ul.custom-scrollbar.list-unstyled(style='max-height:100vh;')
                    // Logo
                    li
                        .logo-wrapper.waves-light
                            a(href='/home')
                                img.img-fluid.flex-center(src='/images/#{logo_org}')
                    // /. Logo
                    // Social
                    li
                        ul.social
                            h5 Notifications Center
                            // TO DO: se non serve elimina
                            //li
                            //    a.icons-sm.fb-ic(href='#')
                            //        i.fa.fa-facebook
                            //li
                            //    a.icons-sm.pin-ic(href='#')
                            //        i.fa.fa-pinterest
                            //li
                            //    a.icons-sm.gplus-ic(href='#')
                            //        i.fa.fa-google-plus
                            //li
                            //    a.icons-sm.tw-ic(href='#')
                            //        i.fa.fa-twitter
                    // /Social
                    // Side navigation links
                    li
                        ul.collapsible.collapsible-accordion
                            li
                                a.collapsible-header.waves-effect.arrow-ra(href='/home')
                                    i.fa.fa-home
                                    |  Home
                                // Esempio aggiunta voci sottomenu
                                //    i.fa.fa-angle-down.rotate-icon
                                //.collapsible-body
                                //    ul
                                //        li
                                //            a(href='/home') Notifications Center
                                //        li
                                //            a(href='/gestioneInteressi') Interessi
                            li
                                a.collapsible-header.waves-effect.arrow-ra(href='/gestioneInteressi')
                                    i.fa.fa-universal-access
                                    |  Interessi
                            li
                                a.collapsible-header.waves-effect.arrow-ra(href='/gestioneContatto')
                                    i.fa.fa-user
                                    |  Anagrafica
                            li
                                a.collapsible-header.waves-effect.arrow-r
                                    i.fa.fa-calendar-o
                                    |  Eventi
                                    i.fa.fa-angle-down.rotate-icon
                                .collapsible-body
                                    ul
                                        li
                                            a.waves-effect(href='/gestioneEventi') Gestione Eventi
                                        li
                                            a.waves-effect(href='/gestioneNote') Gestione Note
                            li
                                a.collapsible-header.waves-effect.arrow-ra(href='/assegnaEvento')
                                    i.fa.fa-bell
                                    |  Invio Notifiche
                            li
                                a.collapsible-header.waves-effect.arrow-ra(href='/gestioneNotifiche')
                                    i.fa.fa-file-excel-o
                                    |  Gestione Report
                            li
                                a.collapsible-header.waves-effect.arrow-ra(href='/logout')
                                    i.fa.fa-sign-out
                                    |  Logout
                .sidenav-bg.mask-strong
            // /. Sidebar navigation
            // Navbar
            nav.navbar.fixed-top.navbar-toggleable-md.navbar-expand-lg.scrolling-navbar.double-nav
                // SideNav slide-out button
                .float-left
                    a.button-collapse(href='#', data-activates='slide-out')
                        i.fa.fa-bars
                // Breadcrumb
                .breadcrumb-dn.mr-auto
                    p #{name}
                ul.nav.navbar-nav.nav-flex-icons.ml-auto
                    // TO DO: Eliminare se non serve
                    //li.nav-item
                    //    a.nav-link
                    //        i.fa.fa-envelope
                    //        span.clearfix.d-none.d-sm-inline-block Contact
                    //li.nav-item
                    //    a.nav-link
                    //        i.fa.fa-comments-o
                    //        span.clearfix.d-none.d-sm-inline-block Support
                    //li.nav-item
                    //    a.nav-link
                    //        i.fa.fa-user
                    //        span.clearfix.d-none.d-sm-inline-block Account
                    li.nav-item.dropdown
                        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Menu Rapido
                        .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                            a.dropdown-item(href='/home') Home
                            a.dropdown-item(href='/gestioneInteressi') Interessi
                            a.dropdown-item(href='/gestioneContatto') Anagrafica
                            a.dropdown-item(href='/gestioneEventi') Eventi
                            a.dropdown-item(href='/assegnaEvento') Invio Notifiche
                            a.dropdown-item(href='/gestioneNotifiche') Gestione Report
                            a.dropdown-item(href='/logout') Logout

            // /.Navbar
            // /.Double navigation
            // Main Layout
            // TO DO VA gestita la progress bar se sefrve
            //.progress.md-progress(style='height: 20px')
            //    .progress-bar(role='progressbar', style='width: 25%; height: 20px', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')

            main
                .container-fluid.mt-auto
                    // Jumbotron
                    .jumbotron
                        h1.h1-reponsive.mb-3.blue-text
                            strong Benvenuto in Notifications Center!
                        p.lead
                            | Sistema di notifiche multicanale.
                        hr.my-4
                        p
                            | Organizzazione:
                            | "#{name}"
                        p.lead
                            //a.btn.aqua-gradient.btn-lg(href='#', role='button') Learn more
                    // Jumbotron
                .row.mx-5

                .row.mx-5
                    .col-2

                    .col-8
                        .text-center
                            img.rounded(style='width: 30%;', src='images/#{logo_org}')
                    .col-2
                .row.mx-5

                br
                br
                br

            // Footer
            footer.page-footer.font-small.mdb-skin.fixed-bottom
                // Copyright
                .footer-copyright.text-center.py-3
                    | © Copyright 2018 - AK-12. All Rights Reserved:
                    a(target='_blank', href='http://www.ak12srl.it/')
                        // TO DO: inserire immagine con scritta bianca
                        //img(src='images/ak12.png', alt='Company Logo', width='70', height='30')
                // Copyright
            // Footer
            // Main Layout
            // SCRIPTS
            // JQuery
            script(type='text/javascript', src='javascripts/jquery-3.3.1.min.js')
            // Popper
            script(type='text/javascript', src='javascripts/popper.min.js')
            // Bootstrap core JavaScript
            script(src='javascripts/bootstrap.min.js')
            // MDB core JavaScript
            script(type='text/javascript', src='javascripts/mdb.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js')
            script(src='https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/js/bootstrap-datetimepicker.min.js')
            script(src='javascripts/modernizr.js')
            // TO DO: Credo non serva a nulla
            //script(src='javascripts/controllers/indexController.js')
            script.
                // SideNav Initialization
                $(".button-collapse").sideNav();